/* AdminManagement.styl */
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f8f8;
  height :100vh;
}

.search {
  width: 80vw;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.table {
  width: 80vw;
  border-collapse: collapse;
  margin-top: 1.2rem;
}

.table th,
.table td {
  padding: 0.5rem 0.6rem;
  border: 1px solid #ccc;
  text-align: left;
}

.table th {
  background-color: #f0e6ff;
  font-weight: bold;
}

.edit {
  background-color: #87cefa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.3rem;
  cursor: pointer;
}
.delete {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.3rem;
  cursor: pointer;
}


/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .search {
    font-size: 0.8rem;
  }

  .table th,
  .table td {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
  }

  .delete {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
  }
  .edit {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
  }
}