body
  margin: 0
  -webkit-tap-highlight-color: transparent

.view
  position: relative
  background-image: url("https://y.qq.com/music/common/upload/t_cm3_photo_publish/6400153.png?r=1708252288472");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

[class*="clear"]:after
  content: ""
  display: block
  height: 0
  clear: both

a
  color: inherit
  text-decoration: none
